body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
   }

ul {
    list-style-type: none;
   
}

.header-logo {
    font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
    text-decoration: none;
}

.logo-studio{
    color:#2e2f42
}

.footer-logo-studio{
    color:#f4f4fd;
}

.head-menu {
    font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-decoration: none;
}

.head-menu:hover {
    color: #404bbf;
}



.head-contact {
font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}


.slider-area {
    background-color: #2e2f42;
      text-align: center;
}

.slider-text {
font-family: var(--font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: white;
}


.slider-button {
    color: white ;
    background-color: #4d5ae5;
    font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
}

.slider-button:hover { 
    background-color: #404bbf;
}

.first-paragrapg-h3 {
    font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.first-paragrapg-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}


.page-finish{
    background-color: #2e2f42;
}

.footer-text {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;

}


.footer-logo {
    font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.team-area {
background-color: #f4f4fd;

}


.team-list {
background-color: #fff;
font-family: "Roboto", sans-serif;

}